{% extends "base.html" %}

{% block title %}Registration Form{% endblock %}

{% block content %}
<div class="reg-container">
    <form action="{{ url_for('submit_login') }}" method="post">
        <div class="img">
            <img src="{{ url_for('static', filename='image/Designer.jpeg') }}" alt="">
        </div>
        <div class="form-group">
            <label for="full-name">Full Name: </label>
            <input class="finput" type="text" id="full-name" name="full-name" required>
        </div>
        <div class="form-group">
            <label for="registration-number">Reg Number: </label>
            <input type="text" id="registration-number" name="registration_number" required>
        </div>
        <button type="submit" class="reg-btn">Register</button>
    </form>
</div>
{% endblock %}

